Repository wormhole-foundation/wormhole-explorer, pull requests merged in 2024-03, with the labels that each got.

#1168 [Blockchain Watcher] (ARBITRUM) Improve arbitrum process
  blockchain-watcher/src/infrastructure/repositories/evm/ArbitrumEvmJsonRPCBlockRepository.ts
  deploy/blockchain-watcher/workers/source-events-1.yaml
  deploy/blockchain-watcher/workers/target-events.yaml
Labels: arbitrum-chain

#1181 [Blockchain Watcher] (FIX ARBITRUM) Export environment variable to validate env
  blockchain-watcher/src/infrastructure/repositories/RepositoriesBuilder.ts
  blockchain-watcher/src/infrastructure/repositories/evm/ArbitrumEvmJsonRPCBlockRepository.ts
  blockchain-watcher/src/infrastructure/repositories/evm/EvmJsonRPCBlockRepository.ts
  blockchain-watcher/test/infrastructure/repositories/ArbitrumEvmJsonRPCBlockRepository.test.ts
  blockchain-watcher/test/infrastructure/repositories/BscEvmJsonRPCBlockRepository.test.ts
  blockchain-watcher/test/infrastructure/repositories/EvmJsonRPCBlockRepository.integration.test.ts
  blockchain-watcher/test/infrastructure/repositories/MoonbeamEvmJsonRPCBlockRepository.test.ts
  deploy/blockchain-watcher/env/production-testnet.env
  deploy/blockchain-watcher/env/staging-testnet.env
Labels: FIX, arbitrum-chain

#1203 [Blockchain Watcher] (FIX - OPTIMISM) Remove goerli optimism
  deploy/blockchain-watcher/workers/source-events-1.yaml
  deploy/blockchain-watcher/workers/target-events.yaml
Labels: optimism-chain

#1199 Changed api container settings in order to reduce the startup time
  deploy/api/api-service.yaml
  deploy/api/env/production-mainnet.env
  deploy/api/env/staging-mainnet.env
Labels: enhancement, api

#1216 [Blockchain Watcher] (STANDARD-RELAYER) Mapped standard relayer txs
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  blockchain-watcher/src/infrastructure/repositories/RateLimitedRPCRepository.ts
  deploy/blockchain-watcher/workers/solana-source-events-1.yaml
  deploy/blockchain-watcher/workers/solana-target-events-1.yaml
  deploy/blockchain-watcher/workers/source-events-1.yaml
  deploy/blockchain-watcher/workers/source-events-2.yaml
  deploy/blockchain-watcher/workers/source-events.yaml
  deploy/blockchain-watcher/workers/target-events-1.yaml
Labels: standard-relayer

#1174 [Blockchain Watcher] (APTOS) Integrate aptos source and redeemed events
  blockchain-watcher/config/default.json
  blockchain-watcher/config/mainnet.json
  blockchain-watcher/src/domain/actions/aptos/GetAptosTransactions.ts
  blockchain-watcher/src/domain/actions/aptos/GetAptosTransactionsByEvents.ts
  blockchain-watcher/src/domain/actions/aptos/HandleAptosTransactions.ts
  blockchain-watcher/src/domain/actions/aptos/PollAptos.ts
  blockchain-watcher/src/domain/actions/evm/PollEvm.ts
  blockchain-watcher/src/domain/actions/sui/PollSuiTransactions.ts
  blockchain-watcher/src/domain/entities/aptos.ts
  blockchain-watcher/src/domain/repositories.ts
  blockchain-watcher/src/infrastructure/mappers/aptos/aptosLogMessagePublishedMapper.ts
  blockchain-watcher/src/infrastructure/mappers/aptos/aptosRedeemedTransactionFoundMapper.ts
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  blockchain-watcher/src/infrastructure/repositories/RepositoriesBuilder.ts
  blockchain-watcher/src/infrastructure/repositories/StaticJobRepository.ts
  blockchain-watcher/src/infrastructure/repositories/aptos/AptosJsonRPCBlockRepository.ts
  blockchain-watcher/src/infrastructure/repositories/aptos/RateLimitedAptosJsonRPCBlockRepository.ts
  blockchain-watcher/src/infrastructure/rpc/http/InstrumentedHttpProvider.ts
  blockchain-watcher/test/domain/actions/aptos/GetAptosTransactions.test.ts
  blockchain-watcher/test/domain/actions/aptos/GetAptosTransactionsByEvents.test.ts
  blockchain-watcher/test/domain/actions/aptos/HandleAptosTransactions.test.ts
  blockchain-watcher/test/infrastructure/mappers/aptos/aptosLogMessagePublishedMapper.test.ts
  blockchain-watcher/test/infrastructure/mappers/aptos/aptosRedeemedTransactionFoundMapper.test.ts
  blockchain-watcher/test/infrastructure/mappers/evm/evmLogMessagePublishedMapper.test.ts
  blockchain-watcher/test/infrastructure/repositories/RepositoriesBuilder.test.ts
  blockchain-watcher/test/infrastructure/repositories/StaticJobRepository.test.ts
  blockchain-watcher/test/mocks/configMock.ts
  deploy/blockchain-watcher/workers/source-events-1.yaml
  deploy/blockchain-watcher/workers/target-events-2.yaml
Labels: aptos-chain

#1219 [Blockchain Watcher] (MAYAN) Mapped MethodRedeemAndUnwrap method
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
Labels: mayan

#1222 [Blockchain Watcher] (FIX - APTOS) Fix aptos job
  blockchain-watcher/config/default.json
  blockchain-watcher/src/infrastructure/mappers/solana/solanaTransferRedeemedMapper.ts
  deploy/blockchain-watcher/workers/source-events-1.yaml
Labels: FIX, aptos-chain

#1227 [Blockchain Watcher] (FIX - JOBS) Fix jobs
  deploy/blockchain-watcher/workers/solana-source-events-1.yaml
  deploy/blockchain-watcher/workers/source-events-2.yaml
Labels: FIX

#1242 [Blockchain Watcher] (FIX - MAYAN) Add mayan with payload address
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  deploy/blockchain-watcher/workers/target-events-1.yaml
Labels: FIX, mayan

#1254 [Blockchain Watcher] (FIX - MAYAN) Mapped new address
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  deploy/blockchain-watcher/workers/target-events-1.yaml
Labels: FIX, mayan
