Repository wormhole-foundation/wormhole-explorer, pull requests merged in 2024-04, with the labels that each got.

#1251 [Blockchain Watcher] (FIX - APTOS) Improve aptos request
  blockchain-watcher/src/infrastructure/repositories/aptos/AptosJsonRPCBlockRepository.ts
  blockchain-watcher/src/infrastructure/rpc/http/InstrumentedHttpProvider.ts
Labels: FIX, aptos-chain

#1261 [Blockchain Watcher] (TOKEN BRIDGE) Mapped token bridge chains
  blockchain-watcher/config/default.json
  blockchain-watcher/config/mainnet.json
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  blockchain-watcher/src/infrastructure/mappers/evm/evmRedeemedTransactionFoundMapper.ts
  blockchain-watcher/src/infrastructure/repositories/evm/EvmJsonRPCBlockRepository.ts
  blockchain-watcher/test/infrastructure/mappers/evm/evmRedeemedTransactionFoundMapper.test.ts
  deploy/blockchain-watcher/workers/source-events-1.yaml
  deploy/blockchain-watcher/workers/target-events-1.yaml
  deploy/blockchain-watcher/workers/target-events-2.yaml
Labels: token bridge, target-events

#1281 [Blockchain Watcher] (NTT - FANTOM and ETH) Integrate support NTT for fantom
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  deploy/blockchain-watcher/workers/target-events-1.yaml
  deploy/blockchain-watcher/workers/target-events-2.yaml
Labels: fantom-chain, NTT, ethereum-chain

#1282 [Blockchain Watcher] (NFT) Mapped contracts
  blockchain-watcher/config/custom-environment-variables.json
  blockchain-watcher/src/domain/actions/aptos/GetAptosTransactions.ts
  blockchain-watcher/src/domain/actions/aptos/GetAptosTransactionsByEvents.ts
  blockchain-watcher/src/domain/actions/aptos/PollAptos.ts
  blockchain-watcher/src/domain/repositories.ts
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  blockchain-watcher/src/infrastructure/mappers/sui/suiRedeemedTransactionFoundMapper.ts
  blockchain-watcher/src/infrastructure/repositories/aptos/AptosJsonRPCBlockRepository.ts
  blockchain-watcher/src/infrastructure/repositories/aptos/RateLimitedAptosJsonRPCBlockRepository.ts
  blockchain-watcher/test/domain/actions/aptos/GetAptosTransactions.test.ts
  blockchain-watcher/test/domain/actions/aptos/GetAptosTransactionsByEvents.test.ts
  deploy/blockchain-watcher/workers/solana-target-events-1.yaml
  deploy/blockchain-watcher/workers/source-events-1.yaml
  deploy/blockchain-watcher/workers/target-events-1.yaml
  deploy/blockchain-watcher/workers/target-events-2.yaml
Labels: NFT

#1304 [Blockchain Watcher] (SCROLL) Mapped scroll source and target events
  blockchain-watcher/config/custom-environment-variables.json
  blockchain-watcher/config/default.json
  blockchain-watcher/config/mainnet.json
  blockchain-watcher/src/infrastructure/repositories/RepositoriesBuilder.ts
  blockchain-watcher/test/infrastructure/repositories/RepositoriesBuilder.test.ts
  blockchain-watcher/test/mocks/configMock.ts
  deploy/blockchain-watcher/workers/source-events-1.yaml
  deploy/blockchain-watcher/workers/source-events-2.yaml
  deploy/blockchain-watcher/workers/target-events-2.yaml
Labels: source-events, target-events, scroll-chain

#1306 Feat/add keda autoscaler
  deploy/analytics/analytics-keda.yaml
  deploy/api/api-keda.yaml
  deploy/fly/fly-keda.yaml
  deploy/parser/parser-keda.yaml
  deploy/tx-tracker/tx-tracker-keda.yaml
Labels: enhancement

#1238 [Blockchain Watcher] (WORMCHAIN) Mapped wormchain source events
  blockchain-watcher/config/default.json
  blockchain-watcher/config/mainnet.json
  blockchain-watcher/src/domain/actions/evm/HandleEvmLogs.ts
  blockchain-watcher/src/domain/actions/index.ts
  blockchain-watcher/src/domain/actions/wormchain/GetWormchainLogs.ts
  blockchain-watcher/src/domain/actions/wormchain/HandleWormchainLogs.ts
  blockchain-watcher/src/domain/actions/wormchain/PollWormchain.ts
  blockchain-watcher/src/domain/entities/wormchain.ts
  blockchain-watcher/src/domain/repositories.ts
  blockchain-watcher/src/infrastructure/mappers/wormchain/wormchainLogMessagePublishedMapper.ts
  blockchain-watcher/src/infrastructure/repositories/RepositoriesBuilder.ts
  blockchain-watcher/src/infrastructure/repositories/StaticJobRepository.ts
  blockchain-watcher/src/infrastructure/repositories/common/utils.ts
  blockchain-watcher/src/infrastructure/repositories/wormchain/RateLimitedWormchainJsonRPCBlockRepository.ts
  blockchain-watcher/src/infrastructure/repositories/wormchain/WormchainJsonRPCBlockRepository.ts
  blockchain-watcher/test/domain/actions/aptos/GetAptosTransactions.test.ts
  blockchain-watcher/test/domain/actions/aptos/GetAptosTransactionsByEvents.test.ts
  blockchain-watcher/test/domain/actions/wormchain/GetWormchainLogs.test.ts
  blockchain-watcher/test/domain/actions/wormchain/HandleWormchainLogs.test.ts
  blockchain-watcher/test/domain/actions/wormchain/PollWormchain.test.ts
  blockchain-watcher/test/infrastructure/mappers/wormchain/wormchainLogMessagePublishedMapper.test.ts
  blockchain-watcher/test/infrastructure/repositories/RepositoriesBuilder.test.ts
  blockchain-watcher/test/infrastructure/repositories/StaticJobRepository.test.ts
  blockchain-watcher/test/mocks/configMock.ts
  deploy/blockchain-watcher/workers/source-events-1.yaml
  deploy/blockchain-watcher/workers/source-events-2.yaml
Labels: wormchain, source-events

#1307 [Blockchain Watcher] (ARBITRUM) Remove arbitrum goerli in testnet
  deploy/blockchain-watcher/workers/target-events-1.yaml
Labels: FIX, arbitrum-chain

#1309 [Blockchain Watcher] (STANDARD RELAYER) Map new chains
  deploy/blockchain-watcher/workers/target-events-1.yaml
  deploy/blockchain-watcher/workers/target-events-2.yaml
Labels: fantom-chain, celo-chain, moonbeam-chain, standard-relayer

#1331 [Blockchain Watcher] (FIX - SOLANA) Map config for solana
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  blockchain-watcher/src/infrastructure/mappers/solana/solanaTransferRedeemedMapper.ts
  deploy/blockchain-watcher/workers/solana-target-events-1.yaml
Labels: FIX, solana

#1334 [Blockchain Watcher] (W) Map evm NTT redeem
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  blockchain-watcher/test/infrastructure/mappers/evm/evmRedeemedTransactionFoundMapper.test.ts
  deploy/blockchain-watcher/workers/target-events-1.yaml
Labels: NTT, w-token

#1332 Manifest and pod's resources requirements improvements (staging)
  deploy/analytics/analytics-keda.yaml
  deploy/analytics/analytics-service.yaml
  deploy/analytics/env/staging-mainnet.env
  deploy/analytics/env/staging-testnet.env
  deploy/api/api-keda.yaml
  deploy/api/api-service.yaml
  deploy/api/env/staging-mainnet.env
  deploy/api/env/staging-testnet.env
  deploy/blockchain-watcher/env/staging-mainnet.env
  deploy/blockchain-watcher/env/staging-testnet.env
  deploy/blockchain-watcher/sa.yaml
  deploy/blockchain-watcher/workers/backfiller.yaml
  deploy/blockchain-watcher/workers/solana-source-events-1.yaml
  deploy/blockchain-watcher/workers/solana-target-events-1.yaml
  deploy/blockchain-watcher/workers/source-events-1.yaml
  deploy/blockchain-watcher/workers/source-events-2.yaml
  deploy/blockchain-watcher/workers/target-events-1.yaml
  deploy/blockchain-watcher/workers/target-events-2.yaml
  deploy/contract-watcher/contract-watcher-service.yaml
  deploy/contract-watcher/env/staging-mainnet.env
  deploy/contract-watcher/env/staging-testnet.env
  deploy/fly/env/staging-mainnet.env
  deploy/fly/env/staging-testnet.env
  deploy/fly/fly-keda.yaml
  deploy/fly/fly-service.yaml
  deploy/notional/env/staging-mainnet.env
  deploy/notional/env/staging-testnet.env
  deploy/notional/notional-service.yaml
  deploy/parser/env/staging-mainnet.env
  deploy/parser/env/staging-testnet.env
  deploy/parser/parser-keda.yaml
  deploy/parser/parser-service.yaml
  deploy/pipeline/env/staging-mainnet.env
  deploy/pipeline/env/staging-testnet.env
  deploy/pipeline/pipeline-service.yaml
  deploy/spy/env/staging-mainnet.env
  deploy/spy/env/staging-testnet.env
  deploy/spy/spy-service.yaml
  deploy/tx-tracker/env/staging-mainnet.env
  deploy/tx-tracker/env/staging-testnet.env
  deploy/tx-tracker/tx-tracker-keda.yaml
  deploy/tx-tracker/tx-tracker-service.yaml
Labels: enhancement, fly, api, parser, spy, contract-watcher, tx-tracker, analytics, blockchain-watcher, pipeline

#1345 [Blockchain Watcher] (FIX - SUI) Fix currentCheckpoint value for report metrics on grafana
  blockchain-watcher/src/domain/actions/sui/PollSuiTransactions.ts
Labels: FIX, SUI

#1350 [Blockchain Watcher] (POLYGON AMOY) Map polygon amoy
  blockchain-watcher/config/custom-environment-variables.json
  blockchain-watcher/config/default.json
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  blockchain-watcher/src/infrastructure/repositories/RepositoriesBuilder.ts
  blockchain-watcher/test/infrastructure/repositories/RepositoriesBuilder.test.ts
  blockchain-watcher/test/mocks/configMock.ts
  deploy/blockchain-watcher/env/production-testnet.env
  deploy/blockchain-watcher/env/staging-testnet.env
  deploy/blockchain-watcher/workers/source-events-1.yaml
  deploy/blockchain-watcher/workers/source-events-2.yaml
  deploy/blockchain-watcher/workers/target-events-1.yaml
Labels: testnet, polygon-amoy-chain

#1353 [Blockchain Watcher] (tBTC) Map contracts for mainnet
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  deploy/blockchain-watcher/workers/source-events-1.yaml
  deploy/blockchain-watcher/workers/source-events-2.yaml
  deploy/blockchain-watcher/workers/target-events-1.yaml
Labels: tBTC

#1354 [Blockchain Watcher] (BLAST) Map blast chain
  blockchain-watcher/config/custom-environment-variables.json
  blockchain-watcher/config/default.json
  blockchain-watcher/config/mainnet.json
  blockchain-watcher/src/infrastructure/repositories/RepositoriesBuilder.ts
  blockchain-watcher/test/infrastructure/repositories/RepositoriesBuilder.test.ts
  blockchain-watcher/test/mocks/configMock.ts
  deploy/blockchain-watcher/workers/source-events-2.yaml
  deploy/blockchain-watcher/workers/target-events-2.yaml
Labels: mainnet, testnet, blast-chain

#1369 [Blockchain Watcher] (SCROLL) Map scroll mainnet contracts
  blockchain-watcher/config/mainnet.json
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  deploy/blockchain-watcher/workers/source-events-2.yaml
  deploy/blockchain-watcher/workers/target-events-2.yaml
Labels: mainnet, scroll-chain

#1363 [Blockchain Watcher] (CONNECT) Integrate connect redeem
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  deploy/blockchain-watcher/workers/target-events-1.yaml
  deploy/blockchain-watcher/workers/target-events-2.yaml
Labels: connect

#1371 [Blockchain Watcher] (WORMCHAIN - FIX) Map rpcs for wormchain mainnet
  blockchain-watcher/config/mainnet.json
Labels: mainnet, wormchain
