Repository wormhole-foundation/wormhole-explorer, pull requests merged in 2024-10, with the labels that each got.

#1755 [Blockchain Watcher] (MAYAN - SOLANA) Map mayan redeem in solana
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  blockchain-watcher/src/infrastructure/mappers/solana/solanaTransferRedeemedMapper.ts
  blockchain-watcher/test/infrastructure/mappers/solana/solanaTransferRedeemedMapper.test.ts
  deploy/blockchain-watcher/workers/solana-target-events-1.yaml
Labels: solana, mayan

#1763 [Blockchain Watcher] (NTT - SOLANA) Map NTT contracts for solana
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  deploy/blockchain-watcher/workers/solana-target-events-1.yaml
Labels: NTT

#1765 keda: fixed ScaledObject parameter value type
  deploy/analytics/analytics-keda.yaml
  deploy/analytics/env/staging-mainnet.env
  deploy/api/api-keda.yaml
  deploy/api/env/staging-mainnet.env
  deploy/fly/fly-keda.yaml
  deploy/parser/env/staging-mainnet.env
  deploy/parser/parser-keda.yaml
  deploy/tx-tracker/env/staging-mainnet.env
  deploy/tx-tracker/tx-tracker-keda.yaml
Labels: fly, api, parser, tx-tracker, analytics

#1770 [Blockchain Watcher] (BERACHAIN) Map berachain in testnet
  blockchain-watcher/config/custom-environment-variables.json
  blockchain-watcher/config/default.json
  blockchain-watcher/src/infrastructure/repositories/RepositoriesBuilder.ts
  blockchain-watcher/test/infrastructure/repositories/RepositoriesBuilder.test.ts
  blockchain-watcher/test/mocks/configMock.ts
  deploy/blockchain-watcher/workers/source-events-3.yaml
  deploy/blockchain-watcher/workers/target-events-3.yaml
Labels: berachain

#1772 [Blockchain Watcher] (NTT - layer3) Map NTT contract for layer3 in solana
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  deploy/blockchain-watcher/workers/solana-target-events-1.yaml
Labels: solana, NTT

#1774 keda: tx-tracker scaledObject update
  deploy/tx-tracker/env/production-mainnet.env
  deploy/tx-tracker/env/production-testnet.env
  deploy/tx-tracker/env/staging-mainnet.env
  deploy/tx-tracker/env/staging-testnet.env
  deploy/tx-tracker/tx-tracker-keda.yaml
Labels: enhancement, tx-tracker

#1776 [Blockchain Watcher] (NTT - layer3) Replace layer3 contract in solana
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  deploy/blockchain-watcher/workers/solana-target-events-1.yaml
Labels: solana, NTT

#1779 [Blockchain Watcher] (FIX - BERACHAIN) Move berachin jobs
  deploy/blockchain-watcher/workers/source-events-3.yaml
  deploy/blockchain-watcher/workers/target-events-2.yaml
  deploy/blockchain-watcher/workers/target-events-3.yaml
Labels: FIX, berachain

#1781 [Blockchain Watcher] (SUI) Improve sui process using array of filters
  blockchain-watcher/src/domain/actions/sui/PollSuiTransactions.ts
  blockchain-watcher/test/domain/actions/sui/PollSuiTransactions.test.ts
  deploy/blockchain-watcher/workers/target-events-3.yaml
Labels: SUI

#1793 [Blockchain Watcher] (PROPOSAL CREATED) Track proposal created log
  blockchain-watcher/src/domain/entities/events.ts
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  blockchain-watcher/src/infrastructure/mappers/evm/evmProposalCreatedMapper.ts
  blockchain-watcher/src/infrastructure/repositories/StaticJobRepository.ts
  blockchain-watcher/test/infrastructure/mappers/evm/evmProposalCreatedMapper.test.ts
  deploy/blockchain-watcher/workers/proposal-created-message-events-1.yaml
Labels: testnet, ethereum, proposalCreated

#1798 [Blockchain Watcher] (NTT - SOLANA) Map MessageAttributes
  blockchain-watcher/src/infrastructure/repositories/target/SnsEventRepository.ts
Labels: sns

#1794 [Blockchain Watcher] (NTT - SOLANA) Map GEOD contract
  blockchain-watcher/src/infrastructure/mappers/contractsMapperConfig.json
  deploy/blockchain-watcher/workers/solana-target-events-1.yaml
Labels: solana, NTT

#1801 [Blockchain Watcher] (SOLANA) Improve process using promise.allSettled
  blockchain-watcher/config/mainnet.json
  blockchain-watcher/src/domain/actions/solana/PollSolanaTransactions.ts
Labels: solana

#1806 [Blockchain Watcher] (UNICHAIN) Map unichain chain
  blockchain-watcher/config/custom-environment-variables.json
  blockchain-watcher/config/default.json
  blockchain-watcher/src/infrastructure/repositories/RepositoriesBuilder.ts
  blockchain-watcher/test/infrastructure/repositories/RepositoriesBuilder.test.ts
  blockchain-watcher/test/mocks/configMock.ts
  deploy/blockchain-watcher/env/production-mainnet.env
  deploy/blockchain-watcher/env/production-testnet.env
  deploy/blockchain-watcher/env/staging-mainnet.env
  deploy/blockchain-watcher/env/staging-testnet.env
  deploy/blockchain-watcher/workers/source-events-3.yaml
  deploy/blockchain-watcher/workers/target-events-3.yaml
Labels: unichain

#1811 [Blockchain Watcher] (FIX - APTOS) Complete sender emiter
  blockchain-watcher/src/infrastructure/mappers/aptos/aptosLogMessagePublishedMapper.ts
  blockchain-watcher/test/infrastructure/mappers/aptos/aptosLogMessagePublishedMapper.test.ts
Labels: FIX, aptos

#1827 [Blockchain Watcher](FIX - CIRCLE) Validate payload parser
  blockchain-watcher/src/infrastructure/mappers/utils/circle.ts
Labels: FIX, circle
